<a href="https://colab.research.google.com/github/fedor44/get_stock_data_for_test/blob/main/Untitled48.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

# Yahoo Finance에서 제공 금융 데이터 로드
import yfinance as yf

# 2023 미국주식 시가총액 순위 Top 10 (2023.05.30 기준)
# 데이터 출처 Yahoo Finance
# 금융 데이터 로드
tickers = ['AAPL','MSFT','GOOGL','AMZN','NVDA','META','TSLA', 'PEP','AVGO','ASML']
start = '2018-01-01'
end = '2023-05-31'
df_ticker_info = pd.DataFrame()
for ticker in tickers:
    ticker_yf = yf.Ticker(ticker)
    if df_ticker_info.empty:
        df_ticker_info = ticker_yf.history(start = start, end = end)
        df_ticker_info['ticker']= ticker 
    else:
        data_temp = ticker_yf.history(start = start, end = end)
        data_temp['ticker']= ticker 
        df_ticker_info = pd.concat([df_ticker_info, data_temp])

df_ticker_info.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
Date,,,,,,,,
2018-01-02 00:00:00-05:00,40.333814,40.841068,40.120481,40.831585,102223600,0.0,0.0,AAPL
2018-01-03 00:00:00-05:00,40.895593,41.374404,40.760485,40.824482,118071600,0.0,0.0,AAPL
2018-01-04 00:00:00-05:00,40.897958,41.118403,40.788925,41.014107,89738400,0.0,0.0,AAPL
2018-01-05 00:00:00-05:00,41.111290,41.568766,41.018847,41.481064,94640000,0.0,0.0,AAPL
2018-01-08 00:00:00-05:00,41.326992,41.625654,41.227434,41.326992,82271200,0.0,0.0,AAPL

In [20]:
import numpy as np

# pct_change 함수를 이용, 각 날짜별 종가를 이용하여 수익률을 계산
df_ticker_info['currRet'] = df_ticker_info['Close'].pct_change()

# ticker가 바뀔 때는 정확한 수익률을 계산할 수 없으므로 첫행은 NaN 처리
temp_df_ticker_info = df_ticker_info.loc[:, 'currRet'].copy()
for i in range(len(df_ticker_info)-1):
  if df_ticker_info.iloc[i]['ticker'] != df_ticker_info.iloc[i+1]['ticker']:
    temp_df_ticker_info.iloc[i+1] = np.nan
    
df_ticker_info['currRet'] = temp_df_ticker_info

# 전일, 당일, 후일의 데이터를 활용하여 이벤트 수익률을 계산하여 이벤트에 따른 주가의 변동을 보다 정확하게 측정
# currRet(t-1) + currRet(t) + currRet(t+1) -> 뉴스 데이터 전일, 당일, 후일의 수익
df_ticker_info['eventRet'] = df_ticker_info['currRet'] + df_ticker_info['currRet'].shift(-1) + df_ticker_info['currRet'].shift(1)

# 날짜 (년-월-일) 정리
df_ticker_info.reset_index(inplace=True)
df_ticker_info['date'] = pd.to_datetime(df_ticker_info['Date']).dt.date

df_ticker_info.head()

,index,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker,currRet,eventRet,date
0,0,2018-01-02 00:00:00-05:00,40.333814,40.841068,40.120481,40.831585,102223600,0.0,0.0,AAPL,NaN,NaN,2018-01-02
1,1,2018-01-03 00:00:00-05:00,40.895593,41.374404,40.760485,40.824482,118071600,0.0,0.0,AAPL,-0.000174,NaN,2018-01-03
2,2,2018-01-04 00:00:00-05:00,40.897958,41.118403,40.788925,41.014107,89738400,0.0,0.0,AAPL,0.004645,0.015856,2018-01-04
3,3,2018-01-05 00:00:00-05:00,41.111290,41.568766,41.018847,41.481064,94640000,0.0,0.0,AAPL,0.011385,0.012316,2018-01-05
4,4,2018-01-08 00:00:00-05:00,41.326992,41.625654,41.227434,41.326992,82271200,0.0,0.0,AAPL,-0.003714,0.007556,2018-01-08

In [ ]:
# seekingalpha.com에서 뉴스 헤드라인 정보 스크래핑
import requests
from bs4 import BeautifulSoup
import json
from datetime import datetime
import pandas as pd

exit_flag = False
df = pd.DataFrame(columns=['ticker', 'headline', 'publishDate'])
i = 15987
tickers = ['AAPL','MSFT','GOOGL','AMZN','NVDA','META','TSLA', 'PEP','AVGO','ASML']

while True:
  # 첫번째 while 루프 페이지 번호 증가
  if exit_flag:
    break
    
  url = "https://seekingalpha.com/market-news"
  url = url + "?page=" + str(i)
  response = requests.get(url)
  page = requests.get(url)

  soup = BeautifulSoup(page.text, 'html.parser')
  scripts = soup.find_all('script')

  # 로드할 데이터 시간 (2018년 1월 1일까지의 데이터 로드)
  timeLimit = datetime.strptime('2018-12-31', '%Y-%m-%d')

  for j in range(0, 24):
    # 두번째 for 루프 json 내 marketNews, response, data 배열 순회

    for script in scripts:
      # 세번째 for 루프 로드된 scripts 를 라인별로 순회
      if 'window.SSR_DATA =' in script.text:
        json_data = script.text.split('window.SSR_DATA = ')[1]
        json_data = json_data[:-1]
        data = json.loads(json_data)

        headline = data['marketNews']['response']['data'][j]['attributes']['title']
        newsId = ""
        
        if len(data['marketNews']['response']['data'][j]['relationships']['primaryTickers']['data']) == 0:
          newsId = ""
        else:
          newsId = data['marketNews']['response']['data'][j]['relationships']['primaryTickers']['data'][0]['id']

        publishDate = data['marketNews']['response']['data'][j]['attributes']['publishOn']

        publishTime_naive = datetime.fromisoformat(publishDate)
        publishTime_naive = publishTime_naive.strftime('%Y-%m-%d %H:%M:%S')
        publishTime_naive = datetime.strptime(publishTime_naive, '%Y-%m-%d %H:%M:%S')

        if timeLimit > publishTime_naive:      
          exit_flag = True
          break

        if exit_flag:
          break
        count = 0
        stock = ""
        ticker = ""
        # id 기반으로 ticker 찾기
        # Top10 항목에 포함된 주식으로만 데이터 프레임을 구축
        while True:
          if newsId == "":
            break

          if len(data['marketNews']['response']['included']) == 0:
            stock = ""
          else:
            stock = data['marketNews']['response']['included'][count]['id']
            
          if newsId == stock:
            ticker = data['marketNews']['response']['included'][count]['attributes']['name']
            if ticker in tickers:
              new_row = pd.DataFrame({'ticker': [ticker], 'headline': [headline], 'publishDate': [publishTime_naive]})
              df = pd.concat([df, new_row])          
            break
          count = count + 1

      # 세번째 for 루프 종료
    
    # 두번째 for 루프 종료
  
  i = i + 1
  # 첫번째 while 루프 종료

df

  ticker                                      headline         publishDate
0   META        Analyst: Market needs FAANG to recover 2018-12-31 13:56:40
0   TSLA         Tesla still with plenty of inventory? 2018-12-31 10:42:17
0   AMZN             Amazon targets rural India market 2018-12-31 09:35:36
0   AAPL          Epic Games takes on Apple and Google 2018-12-31 09:04:14
0  GOOGL  Bloomberg: Self-driving cars "down the road" 2018-12-31 08:17:46
0   AMZN      Amazon plans to expand Whole Foods reach 2018-12-31 02:45:05

In [19]:
# 뉴스 헤드라인 정보를 스크래핑하는데 10시간 이상의 시간이 소요 됨
# 끊어서 헤드라인 정보를 로드하고 csv 파일(news.csv)로 만들어 병합한 뒤 google drive에 저장하여 사용
from google.colab import drive
drive.mount('/content/drive/')
import pandas as pd

df_news = pd.read_csv('/content/drive/MyDrive/DeepNeuralNetwork/news.csv')

# 날짜 (년-월-일) 정리
df_news['date'] = pd.to_datetime(df_news['publishDate']).dt.date

# df_news 에 df_ticker_info 를 left 조인 
mergedDataFrame = pd.merge(df_news, df_ticker_info, how='left', left_on=['date','ticker'], right_on=['date','ticker'])

# 필요한 데이터만 남기고 정리
df_finalData = mergedDataFrame[['ticker','headline','date','eventRet','Close']]

# NaN 이 있는 행 드롭
df_finalData = df_finalData.dropna()

df_finalData.head()

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

,ticker,headline,date,eventRet,Close
28,META,Meta gains as 'scrappier' company looks to piv...,2023-05-26,0.052798,262.040009
29,MSFT,Microsoft developer conference seen as positiv...,2023-05-26,0.054797,332.890015
30,TSLA,Tesla may be under scrutiny in Europe for data...,2023-05-25,0.040297,184.470001
31,NVDA,Nvidia soars 25% as chips rally on 'jaw droppi...,2023-05-25,0.264243,379.760681
32,NVDA,Inside Nvidia: AI drives record data center re...,2023-05-25,0.264243,379.760681

In [ ]:
import torch

torch.cuda.is_available()

False