<a href="https://colab.research.google.com/github/fedor44/get_stock_data_for_test/blob/main/Untitled48.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Yahoo Finance에서 제공 금융 데이터 로드
import yfinance as yf

# 2023 미국주식 시가총액 순위 Top 10 (2023.05.30 기준)
# 데이터 출처 Yahoo Finance
# 금융 데이터 로드
tickers = ['AAPL','MSFT','GOOGL','AMZN','NVDA','META','TSLA', 'PEP','AVGO','ASML']
start = '2018-01-01'
end = '2023-05-31'
df_ticker_return = pd.DataFrame()
for ticker in tickers:
    ticker_yf = yf.Ticker(ticker)
    if df_ticker_return.empty:
        df_ticker_return = ticker_yf.history(start = start, end = end)
        df_ticker_return['ticker']= ticker 
    else:
        data_temp = ticker_yf.history(start = start, end = end)
        data_temp['ticker']= ticker 
        df_ticker_return = df_ticker_return.append(data_temp)

#df_ticker_return.head()
df_ticker_return

<ipython-input-3-354697b839a4>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-3-354697b839a4>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-3-354697b839a4>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-3-354697b839a4>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-3-354697b839a4>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-3-354697b839a4>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-3-354697b839a4>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-3-354697b839a4>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)
<ipython-input-3-354697b839a4>:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_ticker_return = df_ticker_return.append(data_temp)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
Date,,,,,,,,
2018-01-02 00:00:00-05:00,40.333822,40.841076,40.120489,40.831593,102223600,0.0,0.0,AAPL
2018-01-03 00:00:00-05:00,40.895589,41.374400,40.760481,40.824478,118071600,0.0,0.0,AAPL
2018-01-04 00:00:00-05:00,40.897966,41.118410,40.788932,41.014114,89738400,0.0,0.0,AAPL
2018-01-05 00:00:00-05:00,41.111287,41.568762,41.018843,41.481060,94640000,0.0,0.0,AAPL
2018-01-08 00:00:00-05:00,41.326992,41.625654,41.227434,41.326992,82271200,0.0,0.0,AAPL
...,...,...,...,...,...,...,...,...
2023-05-23 00:00:00-04:00,690.849976,693.380005,678.859985,681.450012,958600,0.0,0.0,ASML
2023-05-24 00:00:00-04:00,668.059998,670.840027,661.179993,666.789978,1159300,0.0,0.0,ASML
2023-05-25 00:00:00-04:00,701.020020,710.989990,693.760010,708.479980,1929800,0.0,0.0,ASML
2023-05-26 00:00:00-04:00,716.650024,742.309998,715.640015,735.929993,2349100,0.0,0.0,ASML
2023-05-30 00:00:00-04:00,743.130005,747.130005,725.549988,728.260010,1411100,0.0,0.0,ASML

In [3]:
import requests
from bs4 import BeautifulSoup
import json
from datetime import datetime
import pandas as pd

exit_flag = False
df = pd.DataFrame(columns=['ticker', 'headline', 'publishDate'])
i = 15987
tickers = ['AAPL','MSFT','GOOGL','AMZN','NVDA','META','TSLA', 'PEP','AVGO','ASML']

while True:
  # 첫번째 while 루프 페이지 번호 증가
  if exit_flag:
    break
    
  url = "https://seekingalpha.com/market-news"
  url = url + "?page=" + str(i)
  response = requests.get(url)
  page = requests.get(url)

  soup = BeautifulSoup(page.text, 'html.parser')
  scripts = soup.find_all('script')

  # 로드할 데이터 시간 (2013년 1월 1일까지의 데이터 로드)
  timeLimit = datetime.strptime('2018-12-31', '%Y-%m-%d')

  for j in range(0, 24):
    # 두번째 for 루프 json 내 marketNews, response, data 배열 순회

    for script in scripts:
      # 세번째 for 루프 로드된 scripts 를 라인별로 순회
      if 'window.SSR_DATA =' in script.text:
        json_data = script.text.split('window.SSR_DATA = ')[1]
        json_data = json_data[:-1]
        data = json.loads(json_data)

        headline = data['marketNews']['response']['data'][j]['attributes']['title']
        newsId = ""
        
        if len(data['marketNews']['response']['data'][j]['relationships']['primaryTickers']['data']) == 0:
          newsId = ""
        else:
          newsId = data['marketNews']['response']['data'][j]['relationships']['primaryTickers']['data'][0]['id']

        publishDate = data['marketNews']['response']['data'][j]['attributes']['publishOn']

        publishTime_naive = datetime.fromisoformat(publishDate)
        publishTime_naive = publishTime_naive.strftime('%Y-%m-%d %H:%M:%S')
        publishTime_naive = datetime.strptime(publishTime_naive, '%Y-%m-%d %H:%M:%S')

        if timeLimit > publishTime_naive:      
          exit_flag = True
          break

        if exit_flag:
          break
        count = 0
        stock = ""
        ticker = ""
        # id 기반으로 ticker 찾기
        # Top10 항목에 포함된 주식으로만 데이터 프레임을 구축
        while True:
          if newsId == "":
            break

          if len(data['marketNews']['response']['included']) == 0:
            stock = ""
          else:
            stock = data['marketNews']['response']['included'][count]['id']
            
          if newsId == stock:
            ticker = data['marketNews']['response']['included'][count]['attributes']['name']
            if ticker in tickers:
              new_row = pd.DataFrame({'ticker': [ticker], 'headline': [headline], 'publishDate': [publishTime_naive]})
              df = pd.concat([df, new_row])          
            break
          count = count + 1

      # 세번째 for 루프 종료
    
    # 두번째 for 루프 종료
  
  i = i + 1
  # 첫번째 while 루프 종료

df

  ticker                                      headline         publishDate
0   META        Analyst: Market needs FAANG to recover 2018-12-31 13:56:40
0   TSLA         Tesla still with plenty of inventory? 2018-12-31 10:42:17
0   AMZN             Amazon targets rural India market 2018-12-31 09:35:36
0   AAPL          Epic Games takes on Apple and Google 2018-12-31 09:04:14
0  GOOGL  Bloomberg: Self-driving cars "down the road" 2018-12-31 08:17:46
0   AMZN      Amazon plans to expand Whole Foods reach 2018-12-31 02:45:05

In [ ]:
import torch

torch.cuda.is_available()

False